<h1>アカウント編集</h1>
<%= form_with model: @user, local: true do |f| %>
  <div>
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password, "新しいパスワード" %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "新しいパスワード（確認用）" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.submit "更新する" %>
  </div>
<% end %>
