<h1>予約一覧</h1>

<% if @reservations.any? %>
  <% @reservations.each do |reservation| %>
    <div>
      <h2><%= link_to reservation.room.name, reservation_path(reservation) %></h2>
      <p>チェックイン日: <%= reservation.check_in.strftime("%Y/%m/%d") %></p>
      <p>チェックアウト日: <%= reservation.check_out.strftime("%Y/%m/%d") %></p>
      <p>人数: <%= reservation.guests %>人</p>
      <p>予約確定日時: <%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></p>

      <% days = (reservation.check_out - reservation.check_in).to_i %>
      <p>合計料金: ¥<%= reservation.room.price * days * reservation.guests %></p>
    </div>
  <% end %>
<% else %>
  <p>予約がありません。</p>
<% end %>
