<h1>予約一覧</h1>

<% if @reservations.any? %>
  <% @reservations.each do |reservation| %>
    <div>
      <%# 施設画像 %>
      <% if reservation.room&.image.present? %>
        <%= image_tag reservation.room.image_url, alt: "施設画像" %>
      <% else %>
        <%= image_tag "deyadofault-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png", alt: "デフォルト施設画像" %>
      <% end %>

      <% if reservation.room.present? %>
        <h2><%= link_to reservation.room.name, reservation_path(reservation) %></h2>
        <p><%= reservation.room.description %></p>
      <% else %>
        <p>この予約には関連付けられた施設がありません。</p>
      <% end %>
      <p>チェックイン日: <%= reservation.check_in.strftime("%Y/%m/%d") %></p>
      <p>チェックアウト日: <%= reservation.check_out.strftime("%Y/%m/%d") %></p>
      <p>人数: <%= reservation.guests %>人</p>
      <p>予約確定日時: <%= reservation.created_at.strftime("%Y/%m/%d %H:%M") %></p>

      <% days = (reservation.check_out - reservation.check_in).to_i %>
      <p>合計料金: ¥<%= reservation.room.price * days * reservation.guests %></p>
    </div>
  <% end %>
<% else %>
  <p>予約がありません。</p>
<% end %>
