<h1><%= @room.name %>の予約</h1>

<%= form_with model: @reservation, url: room_reservations_path(@room), local: true do |f| %>
  <div>
    <%= f.label :check_in, "チェックイン日" %>
    <%= f.date_field :check_in %>
  </div>

  <div>
    <%= f.label :check_out, "チェックアウト日" %>
    <%= f.date_field :check_out %>
  </div>

  <div>
    <%= f.label :guests, "人数" %>
    <%= f.number_field :guests %>
  </div>

  <div>
    <%= f.submit "予約する" %>
  </div>
<% end %>

<%= link_to "施設詳細に戻る", room_path(@room) %>
